

<header class="bg-white">
  <div class="header text-white  d-flex justify-content-end align-items-center">
    
    <div class="d-flex">
      <div class=" fw-bold pe-2">888 000 9999</div>
    <div class="px-2">
      Quick Enquiry | Contact Us | Login | Sign-up
    </div>
    </div>
    
   
  </div>

 
  <nav class="container-fluid  d-flex align-items-center justify-content-between">
   
    <img 
      src="https://api.builder.io/api/v1/image/assets/e4a6559eab2e4d088b03ac39591f8d60/98661f90df08be95326e614a658496003554b843?placeholderIfAbsent=true" 
      alt="Samayur Logo" 
      class="img-fluid"
      style="max-width: 250px;"
    />

  
    <ul class="nav fs-5 fw-medium">
      <li class="nav-item">
        <a class="nav-link active " href="Home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="navigate('about-us')" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Hospitals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Treatments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Academics</a>
      </li>
    </ul>
  </nav>
</header>


