<section class="pt-5 position-relative text-white">
 
  <div class="position-absolute top-0 end-0 me-5 doctor-wrapper">
    <img src="https://api.builder.io/api/v1/image/assets/TEMP/a68c85f3a90ecb67dd143227a08304ab023f91f5?width=1070" 
         alt="Doctor" class="img-fluid doctor-img">
  </div> 
  <div class="container-fluid py-5 ">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8">
        <h2 class="fw-bold display-5 mb-4">Don’t Let Your Health Take a Backseat!</h2>
        <p class="fs-5 mb-4">
          Schedule an appointment with one of our experienced medical professionals today!
        </p>
        <a href="#" class="btn btn-light btn-lg rounded-pill shadow-sm">
          Book an appointment
        </a>
      </div>
    </div>
  </div>
</section>
