.card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  transition: box-shadow 0.3s ease-in-out;
}

.card-data{
    max-height: 200px;

    border: 2px solid red;
}
.col{
    border: 2px solid black;
    height: 200px;
}
.section {
  border-radius: 1rem;
  transition: all 0.3s ease;
  background: linear-gradient(135deg,#0D3F6E);
  color: #fff; 
}
